{ 
    "baseUrl": "https://urbancodegit.rtp.raleigh.ibm.com:8443/a/",
    "username": "<USERNAME>",
    "apiPasswd": "<API-PASSWORD>",
    "workspace": "/home/user/workspace",
    "repos": {
        "air-agent": "agent",
        "urban-deploy": "urban-deploy",
        "commons/webext-common": "webext-common"
    }
}
